# Logs
logs
*.log
npm-debug.log*

# Relatórios de diagnóstico
report.*.json

# Arquivos de PID
*.pid
*.pid.lock

# Diretórios de dependências
node_modules/
jspm_packages/
bower_components/

# Diretórios de build
dist/
build/

# Cache de ferramentas
.cache/
.pnpm-debug.log*
.npm/
.yarn-integrity
.yarn/
.eslintcache
.stylelintcache

# Arquivos de ambiente
.env*
!.env.example

# Históricos, temporários e binários
*.tsbuildinfo
*.tgz
*.seed
.node_repl_history

# Editor e IDEs
.vscode/
.idea/